  <!-- Start footer -->
  <footer>
    <!-- Start footer content -->
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row product-gurter-x product-gurter-y">
                        <div class="col-lg-3 col-md-6">
                            <ul class="footer__list">
                                <h3>CONTACTS</h3>
                                <li>
                                    <a href="#">
                                        B-100-9000-300
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        24 Oak,Abohar punjab
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        USA,152122
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        company@gmail.com
                                    </a>
                                </li>
                            </ul>
                            <ul class="footer__social">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                <li><a href="#"><i class="ti-youtube"></i></a></li>
                                <li><a href="#"><i class="ti-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <ul class="footer__list">
                                <h3>OUR COMPANY</h3>
                                <li><a href="#"><span>Our Blog</span></a></li>
                                <li><a href="#"><span>Search Page</span></a></li>
                                <li><a href="#"><span>About Us</span></a></li>
                                <li><a href="#"><span>Contact Us</span></a></li>
                                <li><a href="#"><span>Collections</span></a></li>
                                <li><a href="#"><span>Catalog Page</span></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <ul class="footer__list">
                                <h3>INFORMATION</h3>
                                <li><a href="#"><span>Privancy</span></a></li>
                                <li><a href="#"><span>FAQs</span></a></li>
                                <li><a href="#"><span>Login page</span></a></li>
                                <li><a href="#"><span>Term of use</span></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <ul class="footer__list">
                                <h3>CATEGORIES</h3>
                                <li><a href="#"><span>Fruits</span></a></li>
                                <li><a href="#"><span>Juice</span></a></li>
                                <li><a href="#"><span>Vegetables</span></a></li>
                                <li><a href="#"><span>Other Products</span></a></li>
                                <li><a href="#"><span>Vegetables</span></a></li>
                                <li><a href="#"><span>Other Product</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer__market">
                        <h3>@OOMATO MARKET</h3>
                        <ul class="footer__market__list">
                            <li><a href="#"><img class= "footer__market__list-img" style="background-image: url('http://ichef.bbci.co.uk/wwfeatures/1600_900/images/live/p0/2j/3c/p02j3cmy.jpg');"alt=""></a></li>
                            <li><a href="#"><img class= "footer__market__list-img" style="background-image: url('https://farm8.staticflickr.com/7155/6686165509_0ea2e4c494_b.jpg');"alt=""></a></li>
                            <li><a href="#"><img class= "footer__market__list-img" style="background-image: url('https://thumbs.dreamstime.com/b/coconut-market-beautiful-fruit-especially-banana-salalah-oman-51844325.jpg');"alt=""></a></li>
                            <li><a href="#"><img class= "footer__market__list-img" style="background-image: url('https://s3.ap-southeast-1.amazonaws.com/localiiz-prod/uploads/_1000x1000_fit_center-center_80_none/most-beautiful-wet-markets-hong-kong-fresh-town-wah-ming-market-1.jpg?mtime=20201021165502');"alt=""></a></li>
                            <li><a href="#"><img class= "footer__market__list-img" style="background-image: url('https://cdn.theculturetrip.com/wp-content/uploads/2015/11/shutterstock_551876182.jpg');"alt=""></a></li>
                            <li><a href="#"><img class= "footer__market__list-img" style="background-image: url('http://www.oddcities.com/wp-content/uploads/2014/05/Pikeplace.jpg');"alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End footer content -->

    <!-- Start copyright -->
    <section class="copyright">
        <div class="container">
            <div class="row justify-content-between align-item-center">
                <div class="col">
                    <div><span class="copyright__text">2020 all rights reserved.Power by Madbrains</span></div>
                </div>
                <div class="col">
                    <div class="back-start">
                        <button class="back-start__btn">
                            <span>
                                <a>
                                    <i class="ti-angle-up back-start__icon"></i>
                                </a>
                            </span>
                        </button>

                    </div>
                </div>
                <div class="col">
                    <ul class="copyright__company">
                        <li><a href="#"><img src="./assets/img/mastercard.png" alt=""></a></li>
                        <li><a href="#"><img src="./assets/img/visa.png" alt=""></a></li>
                        <li><a href="#"><img src="./assets/img/paypal.png" alt=""></a></li>
                        <li><a href="#"><img src="./assets/img/citi.png" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End copyright -->
</footer>
<!-- End footer -->
